
body {
  background: #e7e3e3;
}

.price {
	color: red;
}

#header{
	background-image: url("../images/headerbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 0px;
}

#topPage{
	background-image: url("../images/top.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 0px;
}

.topimage {
	float: left;
}

.welcome {
	float: middle;
	}

.welcome h1{
	color:  #ffffff;
	font: normal 80px;
	margin: 0 0 10px;
}

.welcome h2{
	color: #ffffff;
	font: normal 60px;
	margin: 0 0 10px;
}

.welcome h2 span{
	font: normal 50px 'Cookie', cursive;
	margin: 0 0 10px;
	color:  #FA5858;
}

.carList {
	text-align: center;
}
@media (max-width: 600px) {
  #logo {
    max-height: 100px;
  }
}

@media (max-width: 900px) {
  #logo {
    max-height: 150px;
  }
}

@media (max-width: 900px) {
	#delorean {
  	max-height: 100px;
  }
}

@media (max-width: 600px) {
  #audir8 {
    max-height: 100px;
  }
}

@media (max-width: 900px) {
  #audir8 {
    max-height: 150px;
  }
}

#map-canvas {
        width: 500px;
        height: 400px;
}

.result-image {
	margin-top: 20px;
}

.well {
	background: #ffffff;
	-moz-box-shadow: 0 0 2px #5A5A5A;
    -webkit-box-shadow: 0 0 2px #5A5A5A;
    box-shadow: 0 0 2px #5A5A5A;
}

.well .cheapest {
	
	background-color: #5A5A5A;
}

.featured {
	background-color: #000;
}

#vid {
				opacity: 0.4;
				position: fixed;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
@media (max-width: 900px) {
	#vid {
  	max-height: 100px;
  }
}

@media (max-width: 600px) {
	#vid {
  	max-height: 100px;
  }
}