.car {
	
}

.price {
	color: red;
}

#extra-content {
	/*visibility: hidden;*/
}
#header{
	background-image: url("../images/headerbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 0px;
}
.carList {
	text-align: center;
}
@media (max-width: 600px) {
  #logo {
    max-height: 100px;
  }
}

@media (max-width: 900px) {
  #logo {
    max-height: 150px;
  }
}

#map-canvas {
        width: 500px;
        height: 400px;
}

.well {
	background: #e7e3e3;
	-moz-box-shadow: 0 0 2px #5A5A5A;
    -webkit-box-shadow: 0 0 2px #5A5A5A;
    box-shadow: 0 0 2px #5A5A5A;
}

#vid {
				position: fixed;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
