.car {
	
}

.price {
	color: red;
}

#extra-content {
	/*visibility: hidden;*/
}
#header{
	background-image: url("../images/headerbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
@media (max-width: 600px) {
  #logo {
    max-height: 100px;
  }
}

@media (max-width: 900px) {
  #logo {
    max-height: 150px;
  }
}
